<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="robots" content="noindex">
  <title>Quality Assurance Report</title>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.css">
  <script src="https://unpkg.com/bootstrap-table@1.15.3/dist/bootstrap-table.min.js"></script>
  <style type='text/css'>
    .row-index {
      width: 50px;
      display: inline-block;
    }
  </style>

  <script type='text/javascript'>
    $(window).on('load', function() {
      var data = {{data|tojson}};
      var columns = {{columns|tojson}};
      $(function() {
        $('#table').bootstrapTable({
          data: data,
          columns: columns,
        });
      });
    });
    $(window).on('load', function() {
      var layers_data = {{layers_data|tojson}};
      var layers_columns = {{layers_columns|tojson}};
      $(function() {
        $('#layers_table').bootstrapTable({
          data: layers_data,
          columns: layers_columns,
        });
      });
    });
    $(window).on('load', function() {
      var rasters_data = {{rasters_data|tojson}};
      var rasters_columns = {{rasters_columns|tojson}};
      $(function() {
        $('#rasters_table').bootstrapTable({
          data: rasters_data,
          columns: rasters_columns,
        });
      });
    });
  </script>
</head>
<body>
  <div class="container" style="padding: 10px;">
      <p class="h1 text-center" style="color: #377ba8;">Quality Assurance</p>
      <p class="h3 text-muted text-center" style="border-bottom: 2px solid #eee; margin-bottom: 10px;">Report</p>
    <p class="h3 text-center" style="color: #377ba8;margin-bottom: 50px;margin-top: 50px;">{{ dbname }}</p>
    <div class="row">
      <div class="col" style="max-width: 50%;">
        <center><h3>Fields</h3></center>
        <div id="layers_toolbar"></div>
            <table
              id="layers_table"
              data-toggle="true"
              data-toolbar="#layers_toolbar"
              data-search="true"
              data-show-columns="true"
              data-pagination="false"
              data-height="500">
            </table>
      </div>
      <div class="col" style="max-width: 50%;">
            <center><h3>Attributes</h3></center>
            <div id="toolbar" style="padding-right: 15px;"></div>
              <table
                id="table"
                data-toggle="true"
                data-toolbar="#toolbar"
                data-search="true"
                data-show-columns="true"
                data-pagination="false"
                data-height="500">
              </table>
        </div>
        <div class="col" style="margin-top: 50px;">
              <center><h3>Rasters</h3></center>
              <div id="toolbar" style="padding-right: 15px;"></div>
                <table
                  id="rasters_table"
                  data-toggle="true"
                  data-toolbar="#toolbar"
                  data-search="true"
                  data-show-columns="true"
                  data-pagination="false"
                  data-height="500">
                </table>
          </div>
      </div>
      <div clas="row" style="margin-top: 50px;">
        <center>
        {% for database in databases %}
      <button type="button" class="btn btn-outline-info" onclick="window.location.href = '/?db={{ database | safe }}';">{{ database | safe }}</button>
        {% endfor %}
        </center>
      </div>
</body>
</html>
